---
import BaseLayout from "./BaseLayout.astro";
import Sidebar from "../components/Sidebar.astro";

interface Props {
  title: string;
  description: string;
  intro?: string;
}

const { title, description, intro } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div class="g-page__content mx-auto my-4 max-w-[1200px] p-4 md:flex md:flex-wrap">
    <main class="g-page__main w-full space-y-6 md:w-[70%] md:space-y-8">
      <header class="o-page-main__header space-y-2">
        <h1>{title}</h1>
        {intro && <p set:html={intro} />}
      </header>
      <slot />
    </main>
    <Sidebar />
  </div>
</BaseLayout>
